<div class="row">
  <% current_user.tags.each do |tag| %>
    <%= turbo_frame_tag tag do %>
      <div class='col-sm-2'><%= tag.tag %> :: <%= number_to_currency(current_user.total_by(tag.tag)) %></div>
    <% end %>
  <% end %>
</div>