<div class="row">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Description</th>
        <th>Debit</th>
        <th>Credit</th>
        <th>Tags</th>
      </tr>
    </thead>
    <tbody>
      <% current_user.user_transactions.order('transaction_date desc').each do |user_transaction| %>
        <%= turbo_frame_tag user_transaction do %>
          <%= render user_transaction %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<script>
<%#   document.addEventListener('DOMContentLoaded', function() {
    tagButtonsClickListen();
  }); %>
</script>