<p></p>
<div>This is home index</div>
<p>
  <div>
    <p><%= link_to "Upload Transactions", upload_transactions_path %></p>
    <p><%= link_to "View Transactions", user_transactions_path %></p>
  </div>
</p>